.smiley{
    font-size: x-large;
    background-color: transparent;
    border: transparent;
}
.smiley button:hover {
    cursor: pointer;
}

body {
    background-color: peachpuff;
    text-align: center;
}

button {
    height: 30px;
    width: 80px;
    font-size: 15px;
    background-color: mediumvioletred;
    border-radius: 10px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 8px;
}

.level:hover {
    display: inline;
    cursor: pointer;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.board td {
    width: 25px;
    height: 25px;
    text-align: center;
    transition: .5s;
    /* background-color: teal; */
    font-size: 18px;
}

.board td:hover {
    cursor: pointer;
}

.covered {
    background-color: palevioletred;
}

.un {
    background-color: teal;
}
.h3{
    margin: auto;
}
.modal {
    background-color: rgb(139, 115, 115);
    /* font-style: ; */
    font-size: medium;
    padding-bottom: 10px;
    color: black;
    display: none;
    position: fixed;
    top: 210px;
    right: 600px;
    padding-bottom: 40px;
    padding-left: 20px;
    width: 300px;
    height: 5px;
    border: 3px dashed #d03aa3;
    border-radius: 7px;
}

/* .modal button { */
    height: 15px;
    width: 100px;
    border-radius: 10px;
    font-size: medium;
    display: block;
    top: 400px;
    margin-left: auto;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 15px;
    float: right;
}

/* .modal button:hover {
    cursor: pointer;
} */