title {
    background-color: papayawhip;
}

body {
    background-color: peachpuff;
    text-align: center;
}

button {
    height: 30px;
    width: 80px;
    font-size: 15px;
    background-color: mediumvioletred;
    border-radius: 10px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 20px;
}

.level:hover{
    display: inline;
    cursor: pointer;
}

table{
    margin-left: auto;
    margin-right: auto;
    
}

.board td {
    width: 25px;
    height: 25px;
    text-align: center;
    transition: .5s;
    /* background-color: teal; */
    font-size: 20px;
}

.board td:hover{
    cursor: pointer;
    
}

.covered{
    background-color: black;

}

.un{
    background-color: teal;
}